<h3>2.2.2	Множители трудоемкости (Effort Multipliers)</h3>
<p>1. Стадия предварительной оценки трудоемкости программного проекта (Early Design). Для этой оценки необходимо оценить для проекта уровень семи множителей трудоемкости EMj:</p>
<table>
  <tr>
    <th rowspan="2">mножитель трудоемкости, emi</th>
    <th colspan="7">оценка уровня множителя трудоемкости</th>
  </tr>
  <tr>
    <th>extra low</th>
    <th>very low</th>
    <th>low</th>
    <th>nominal</th>
    <th>high</th>
    <th>very high</th>
    <th>extra high</th>
  </tr>
  <tr *ngFor="let cell of cells">
    <td (click)="selectCell($event, cellInput.textContent)" *ngFor="let c of cell.values; let i = index;" [ngClass]="i==cell.selected ? 'selected' : ''" #cellInput>{{ c }}</td>
  </tr>
</table>
