<p>2. Стадия детальной оценки после проработки архитектуры (Post Architecture). Для этой оценки необходимо оценить для проекта уровень семнадцати множителей трудоемкости EMj:</p>
<table>
  <tr>
    <td rowspan="2">mножитель трудоемкости, emi</td>
    <td colspan="7">оценка уровня множителя трудоемкости</td>
  </tr>
  <tr>
    <td>very low</td>
    <td>low</td>
    <td>nominal</td>
    <td>high</td>
    <td>very high</td>
    <td>extra high</td>
  </tr>
  <tr *ngFor="let cell of cells">
    <td (click)="selectCell($event, cellInput.textContent)" *ngFor="let c of cell.values; let i = index;" [ngClass]="i==cell.selected ? 'selected' : ''" #cellInput>{{ c }}</td>
  </tr>
</table>

