<h2>2.2.	COCOMO II</h2>
<p>В 1997 методика была усовершенствована и получила название COCOMO
    II.	Калибровка параметров производилась уже по 161 проекту разработки ПО.
    Различаются две стадии оценки проекта: предварительная оценка на начальной фазе (Early Design) и детальная оценка после проработки архитектуры (Post Architecture).
</p>
<h3>2.2.1	Факторы масштаба (Scale Factors)</h3>
<p>В методике COCOMO II используются пять факторов масштаба SFj, описание которых приведено в табл.4.</p>

<table>
    <tr>
        <th rowspan="2">sfj</th>
        <th rowspan="2">описание</th>
        <th colspan="6">уровень значимости фактора</th>
    </tr>
    <tr>
        <td>очень низкий</td>
        <td>низкий</td>
        <td>средний</td>
        <td>высокий</td>
        <td>очень высокий</td>
        <td>критический</td>
    </tr>
    <tr *ngFor="let cell of cells">
        <td (click)="selectCell($event)" *ngFor="let c of cell.title" [ngClass]="cell.selected==tdInput.cellIndex ? 'selected' : ''" #tdInput>{{ c }}</td>
    </tr>
</table>
