<h2> 2.1.1	Базовый уровень (Basic COCOMO) </h2>
<p>Модель этого уровня – двухпараметрическая. В качестве параметров выступают тип проекта и объем программы (число строк кода).
    Уравнения базового уровня модели имеют вид:
</p>

<h3>Таблица 2.1. Значения коэффициентов базовой уровня модели COCOMO в зависимости от типа проекта</h3>
<table>
    <tr>
        <th>Тип проекта</th>
        <th>а</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
    </tr>
    <tr (click)='select(1)' [ngClass]="row==1 ? 'selected' : ''">
        <td>Распространненый</td>
        <td>2.4</td>
        <td>1.05</td>
        <td>2.5</td>
        <td>0.38</td>
    </tr>
    <tr (click)='select(2)' [ngClass]="row==2 ? 'selected' : ''" >
        <td>Полунезависимый</td>
        <td>3.0</td>
        <td>1.12</td>
        <td>2.5</td>
        <td>0.35</td>
    </tr>
    <tr (click)='select(3)' [ngClass]="row==3 ? 'selected' : ''" >
        <td>Встроенный</td>
        <td>3.6</td>
        <td>1.20</td>
        <td>2.5</td>
        <td>0.32</td>
    </tr>
</table>
<p>Уравнения базового уровня модели имеют вид:</p>
<p>PM = {{ resPM.toFixed(2) }} </p>
<p> TM = {{ resTM.toFixed(2) }} </p>

<p>Модель этого уровня подходит для ранней быстрой приблизительной оценки затрат, но точность её весьма низка, т.к. не учитываются такие факторы, как квалификация персонала, характеристики оборудования, опыт применения современных методов разработки программного обеспечения и современных инструментальных сред разработки и др.</p>
<form action="" (ngSubmit) = 'result(sizeInput.value)'>
    <label for="size">SIZE - Объем программного кода в тысячах строк</label>
    <input type="text" id="size"  #sizeInput required="required">
    <input type="submit" value="Вычислить">
</form>