<app-cocomo-2-scale-factors (resultE)="resultE($event)"></app-cocomo-2-scale-factors>
<app-cocomo-effort-multipers (resultPMnsMultiplyPrevent)="resultPMnsMultiplyPrevent($event)" (resultEAFPrevent)="resultEAFPrevent($event)" (resultSCEDPrevent)="resultSCEDPrevent($event)"></app-cocomo-effort-multipers>
<app-cocomo-effort-multipers-deep (resultPMnsMultiplyDeep)="resultPMnsMultiplyDeep($event)" (resultEAFDeep)="resultEAFDeep($event)" (resultSCEDDeep)="resultSCEDDeep($event)"></app-cocomo-effort-multipers-deep>

<h4>Оценка трудоемкости проекта </h4>
<p><b>Предварительная оценка PM = {{ resPrevent.toFixed(floatNum) }}</b></p>
<p><b>Детальная оценка PM = {{ resDeep.toFixed(floatNum) }}</b></p>

<h4>Оценка длительности проекта</h4>
<p><b>Предварительная оценка TM = {{ resTMPrevent.toFixed(floatNum) }}</b></p>
<p><b>Детальная оценка TM = {{ resTMDeep.toFixed(floatNum) }}</b></p>
<form action="" #myForm="ngForm">
  <label for="size">SIZE - Объем программного кода в тысячах строк</label>
  <input type="text" (keyup)="onKey($event)" value="{{size}}">
</form>
