<app-cocomo-2-scale-factors (resultE)="resultE($event)"></app-cocomo-2-scale-factors>
<app-cocomo-effort-multipers (resultPMnsPrevent)="resultPMnsPrevent($event)" (resultEAFPrevent)="resultEAFPrevent($event)" (resultSCEDPrevent)="resultSCEDPrevent($event)"></app-cocomo-effort-multipers>
<app-cocomo-effort-multipers-deep (resultPMnsDeep)="resultPMnsDeep($event)" (resultEAFDeep)="resultEAFDeep($event)" (resultSCEDDeep)="resultSCEDDeep($event)"></app-cocomo-effort-multipers-deep>

<h4>Оценка трудоемкости проекта </h4>
<p>Предварительная оценка PM = {{ resPrevent }}</p>
<p>Детальная оценка PM = {{ resDeep }}</p>

<h4>Оценка длительности проекта</h4>
<p>Предварительная оценка TM = {{ resTMPrevent }}</p>
<p>Детальная оценка TM = {{ resTMDeep }}</p>
<form action="" (ngSubmit) = 'result(sizeInput.value)'>
  <label for="size">SIZE - Объем программного кода в тысячах строк</label>
  <input type="text" id="size"  #sizeInput required="required">
  <input type="submit" value="Вычислить">
</form>
